#############################################
# Default configuration file for pyBNA
#
# Optional parameters are commented out
# In general, optional parameters can be
# deduced through code so you'd only
# want to specify these if you have an
# unusual circumstance
#
# Lines with a trailing # indicate values
# that can be overridden by arguments in
# the code (and can therefore be ignored
# here if desired)
#############################################
# srid: 4326
db:
    user: gis #
    password: gis #
    blocks:
        table: neighborhood_census_blocks #
        id_column: blockid10 #

scenario:
    roads:
        table: neighborhood_ways #
        # id_column: road_id
        speed_limit: speed_limit
        lanes:
            forward: ft_lanes
            backward: tf_lanes
        parking:
            forward: ft_park
            backward: tf_park
        bike_infra:
            forward: ft_bike_infra
            backward: tf_bike_infra
        stress:
            segment:
                forward: ft_seg_stress
                backward: tf_seg_stress
            intersection:
                forward: ft_int_stress
                backward: tf_int_stress
    intersections:
        table: neighborhood_ways_intersections #
        # id_column: int_id
    edges:
        table: neighborhood_ways_net_link #
        source_column: source_vert
        target_column: target_vert
        stress_column: link_stress
        cost_column: link_cost
        # id_column: link_id
    nodes:
        table: neighborhood_ways_net_vert #
        # id_column: vert_id
    max_distance: 2680 #
    max_detour: 25 #
    max_stress: 1 #
