#############################################
# Default configuration file for pyBNA
#
# Optional parameters are commented out
# In general, optional parameters can be
# deduced through code so you'd only
# want to specify these if you have an
# unusual circumstance
#
# Lines with a trailing # indicate values
# that can be overridden by arguments in
# the code (and can therefore be ignored
# here if desired)
#############################################
# srid: 4326
db:
    user: "gis" #
    password: "gis" #
    blocks:
        table: "neighborhood_census_blocks" #
        id_column: "blockid10" #

scenario:
    roads:
        table: "neighborhood_ways" #
        # id_column: road_id
        speed_limit: "speed_limit"
        lanes:
            forward: "ft_lanes"
            backward: "tf_lanes"
        parking:
            forward: "ft_park"
            backward: "tf_park"
        bike_infra:
            forward: "ft_bike_infra"
            backward: "tf_bike_infra"
        stress:
            segment:
                forward: "ft_seg_stress"
                backward: "tf_seg_stress"
            intersection:
                forward: "ft_int_stress"
                backward: "tf_int_stress"
    intersections:
        table: "neighborhood_ways_intersections" #
        # id_column: int_id
    edges:
        table: "neighborhood_ways_net_link" #
        source_column: "source_vert"
        target_column: "target_vert"
        stress_column: "link_stress"
        cost_column: "link_cost"
        # id_column: link_id
    nodes:
        table: "neighborhood_ways_net_vert" #
        # id_column: vert_id
    max_distance: 2680 #
    max_detour: 25 #
    max_stress: 1 #

destinations:
    colleges:
        table: neighborhood_colleges
        uid: id
        name: college_name
    community_centers:
        table: neighborhood_community_centers
        uid: id
        name: center_name
    dentists:
        table: neighborhood_dentists
        uid: id
        name: dentists_name
    doctors:
        table: neighborhood_doctors
        uid: id
        name: doctors_name
    hospitals:
        table: neighborhood_hospitals
        uid: id
        name: hospital_name
    parks:
        table: neighborhood_parks
        uid: id
        name: park_name
    pharmacies:
        table: neighborhood_pharmacies
        uid: id
        name: pharmacy_name
    retail:
        table: neighborhood_retail
        uid: id
        name: id
    schools:
        table: neighborhood_schools
        uid: id
        name: school_name
    social_services:
        table: neighborhood_social_services
        uid: id
        name: service_name
    supermarkets:
        table: neighborhood_supermarkets
        uid: id
        name: supermarket_name
    transit:
        table: neighborhood_transit
        uid: id
        name: transit_name
    universities:
        table: neighborhood_universities
        uid: id
        name: college_name
